<h2 class="text-4xl font-bold">Experiencia</h2>

<p class="text-xl mx-auto">
  Soy un programador apasionado por aprender y desarrollar nuevas habilidades.
  Aunque no tengo experiencia profesional formal, he dedicado tiempo a aprender
  por mi cuenta y he desarrollado varios proyectos personales para poner en
  práctica mis conocimientos.
</p>
<p>
  Estoy familiarizado con una variedad de herramientas y frameworks de
  desarrollo, y estoy siempre dispuesto a aprender cosas nuevas. Tengo una gran
  capacidad de autoaprendizaje y soy capaz de trabajar de forma independiente y
  en equipo.
</p>
<p>
  Estoy buscando oportunidades para aplicar mis conocimientos y habilidades en
  un entorno profesional. Estoy seguro de que puedo ser un activo valioso para
  cualquier equipo de desarrollo.
</p>
