---

---

<header
  class='px-20 py-8 flex justify-between shadow-md'
>
  <h1 class='font-bold font-Inter text-xl md:text-3xl text-orange-600'>
    <a href='/'>Jimmy Bustillo</a>
  </h1>

  <nav
    class='hidden font-Inter md:flex text-l list-none gap-4 justify-center items-center'
  >
    <li>Inicio</li>
    <li>Sobre mi</li>
    <li>Proyectos</li>
    <li>Contacto</li>
  </nav>
</header>
